@CHARSET "UTF-8";

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #f00;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #f00;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #f00;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #f00;